## Ignore Visual Studio Code-specific files, except for specific ones.
##
## Get latest from https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

__pycache__/
__pycache__/*

.mypy_cache/
.mypy_cache/*

venv/
venv/*

*.pyc

.idea/
.idea/*

setup.cfg
