## Ignore Visual Studio Code-specific files, except for specific ones.
##
## Get latest from https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore interpreter caches
__pycache__/
__pycache__/*

.mypy_cache/
.mypy_cache/*

*.pyc

# Sometimes I use a Mac
.DS_Store

# Local virtual environment files
venv/
venv/*

# PEP ignores
setup.cfg

# Coverage files (but include scripts and config)
coverage/*
!coverage/coverage_tests.sh
!.coveragerc